extends ../shared/template
block content
  h2 Edit Profile
  .row
    .col-xs-6
      form(role='form', method='post', action='/user')
        input(type='hidden', name='_method', value='put')
        .form-group
          label(for='email') Email
          input.form-control#email(type='email', name='email', autofocus=true)
        .form-group
          label(for='name') Name
          input.form-control#name(type='text', name='name')
         .form-group
           label(for='age') Age
           input.form-control#age(type='number', name='age')
         .form-group
           label(for='tagline') Tagline
           input.form-control#tagline(type='text', name='tagline')
        .form-group
            label(for='locName') Location:
            input.form-control#locName(type='text', name='loc')
            input.form-control#locLat(type='hidden', name='loc')
            input.form-control#locLng(type='hidden', name='loc')
        .form-group
          label(for='category') I'm from a: &nbsp;
          select#category(name='category')
            option(value='Movie') Movie
            option(value='Book') Book
            option(value='Cartoon') Cartoon
            option(value='TV') TV
            option(value='Comic') Comic
            option(value='Game') Game
        .form-group
          label(for='seeking') I'm seeking: &nbsp;
          select#seeking.dropdown(name='seeking')
            option(value='Friends') Friends
            option(value='Sidekicks') Sidekicks
            option(value='Rivals') Rivals
            option(value='Nemesis') Nemesis
            option(value='Lovers') Lovers
         .form-group
           label(for='about') About Me
           textarea.form-control#about(name='about')





     
        button.btn.btn-primary(type='submit') Submit
    .col-xs-6

block scripts
  script(src='/js/user/editProfile.js')
