extends ../shared/template
block content
  body.loginPage
    .row
      .col-md-4
      .col-xs-12.col-md-4
        h2.loginHeader Login
        form(role='form', method='post', action='/login')
          .form-group
            label(for='email')
            input.form-control.input-bar#email(type='email', name='email', placeholder= 'Email' autofocus=true)
          .form-group
            label(for='password')
            input.form-control.input-bar#password(type='password', name='password', placeholder= 'Password')
          button.btn.green-btn(type='submit') Submit
      .col-xs-6

block scripts

