extends ../shared/template
block content
  body#home
    p#slogan Connect for Real.
    a#register(href='/register') Register
    a#login(href='/login') Login
block scripts
  script(src='/js/user/home.js')

