@base: #f938ab;

body{
  background-color: saturate(@base, 5%);
}
#map{
  vertical-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 600px;
}

.gift{
  background-color: lightgray;
  border: 2px solid black;
  display: inline-block;
  max-width: 300px;
  max-height: 300px;
  margin: 5px;
  border-radius: 5px;
  img{
    max-width: 80px;
  }
}
.wink{
  background-color: lightgray;
  margin: 5px;
  border: 2px solid black;
  display: inline-block;
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
}
